table{
    background-color: rgba(200,200,200,0.8);
    border: 2px solid black;
    border-collapse: collapse;
    margin: 10px;
}

th, td{
    border: 1px solid #f6f5f4;
    padding: 8px;
}

thead > tr{
    background-color: rgba(25,25,25,0.4);
    color: white;
}

tbody > tr:nth-child(odd) {
    background-color: rgba(200,200,200,0.4);
}